{% load cms_tags %}
{% load menu_tags %}

<div class="navbar navbar-fixed-top navbar-theme-3">
    <div class="container">
        <a class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <i class="fa fa-navicon fa-2x"></i>
        </a>
        <div class="navbar-header">
            <a class="logo-theme-3-expandable logo-expanded pull-left" href="#">
                <span class="helper"></span>
                {% placeholder "Logo Plugin" inherit %}
            </a>
        </div>
        {% block navbar %}
        <div class="nav-collapse collapse">
            <ul class="nav">
                {% show_menu 0 1 1 100 "socialschools_cms/menu/menu_dropdown.html" %}
            </ul>
            <div class="login-theme-3">
                {% placeholder "Login" inherit %}
            </div>
        </div>
        {% endblock %}
    </div>
</div>
